header > h1 { padding: 10px; border-bottom: 1px dashed black ; font-style: italic ; font-size: x-large; text-align:right;}
footer > p { border-top: 1px dashed black ; font-style: italic ; }
p#err_msg { color:#F00; font-weight:bold; }